{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "plugins": [
        "security"
    ],      
    "extends": [
        "airbnb-base",
        "plugin:security/recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "import/no-extraneous-dependencies": [
            "error", {
               "devDependencies": true
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages"
        ],
        "no-return-await": 0,
        "no-console": [
            "error"
        ],
        "no-useless-catch": 0,
        "import/no-unresolved": 0
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["#config", "./src/config"],
                    ["#routes", "./src/routes"],
                    ["#middleware", "./src/middleware"],
                    ["#models", "./src/db/models"],
                    ["#services", "./src/services"],
                    ["#root", "./src/"],
                    ["#server", "./src/server.js"],
                    ["#dataaccess/*", "./src/dataaccess/*"],
                    ["#business/*", "./src/business/*"],
                    ["#helpers/*", "./src/helpers/*"]
                ],
                "extensions": [".js", ".jsx", ".json"]
            }
        }
    }
}
